body {
    display: flex;
    background-color: tan;
    color: #333;
    flex-direction: column;
    max-width: 1280px;
    align-items: center;
}
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
div {
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}
img {
    float: right;
    padding: 10px;
}
img:hover {
    transform: translate(-150px, 150px) scale(2,2);
    transition: 1s;
}